
<div>
<i id="outhelp" class="fas fa-backward" style="margin-top: -45px;display: inline;color: #029eb1;font-size:40px;" onclick="showHelp(this.id);" />
</div>
<div style="padding-right:5px;padding-left:5px;">
    
<p class="item1" style="color:#ffffff">How does this app work?</p>    
<p>When you press the "Shuffle Cards" button, all the 78 cards are 100% randomly shuffled seven times. It's impossible to know how the cards are mixed or which ones will appear on the screen. Three or five cards are drawn from the top after the seventh shuffle.</p>
    
<p class="item2" style="color:#ffffff">What is a spread?</p>    
<p>It's simply the way you read the cards. A three-card spread generally shows the past, present, and future. A five-card spread generally shows the past, recent past, present, near future, and future. To switch between these two spreads, click on the button <img src="images/menu2.png" style="display: inline;" /> in the bottom right corner. </p>
    
<p class="item3" style="color:#ffffff">Can I ask the same question twice?</p>    
<p>You shouldn't ask the same thing before at least 30 days; otherwise, you could end up receiving answers that don't translate the real situation but only tell you what you want to hear.</p>
    
<p class="item1" style="color:#ffffff">Can I ask yes or no questions?</p>
<p>It depends on how good you are at interpreting the cards. You could also try using the classic "upright = yes, reversed = no" method, although there are no guarantees this really works. </p>
</div>

